<%= render "shared/workspace_header",
  eyebrow: "Notebook",
  title: "Create notebook",
  description: "Start a new project space, then add chapters and pages as the work grows." %>

<div class="wrapper wrapper-content animated fadeInRight">
  <%= render "form", notebook: @notebook %>
</div>
