<div class="modal fade" id="new-reminder-modal" tabindex="-1" aria-labelledby="new-reminder-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-reminder-modal-label">New reminder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "reminders/form",
          reminder: reminder,
          form_context: form_context,
          actions_classes: "d-flex flex-wrap gap-2 justify-content-end" %>
      </div>
    </div>
  </div>
</div>
