<div
  class="modal fade"
  id="photoRemovalConfirmModal"
  tabindex="-1"
  aria-labelledby="photoRemovalConfirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title" id="photoRemovalConfirmModalLabel">Remove photo?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-2">
        <p class="mb-0 text-secondary" data-photo-removal-confirm-message>
          This photo will be removed from the page.
        </p>
      </div>
      <div class="modal-footer border-0 pt-0">
        <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-sm" data-photo-removal-confirm-submit>Remove photo</button>
      </div>
    </div>
  </div>
</div>
