<div id="photoLightboxModal" class="modal fade photo-lightbox-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="photo-lightbox-meta">
          <div id="photoLightboxCounter" class="photo-lightbox-counter"></div>
          <div id="photoLightboxCaption" class="photo-lightbox-caption"></div>
        </div>
        <button type="button" class="photo-lightbox-close" data-bs-dismiss="modal" aria-label="Close photo preview">
          <i class="ti ti-x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="photo-lightbox-stage">
          <button type="button" id="photoLightboxPrev" class="photo-lightbox-nav photo-lightbox-nav--prev" aria-label="Previous photo">
            <i class="ti ti-chevron-left" aria-hidden="true"></i>
          </button>
          <img id="photoLightboxImage" class="photo-lightbox-image" src="" alt="">
          <button type="button" id="photoLightboxNext" class="photo-lightbox-nav photo-lightbox-nav--next" aria-label="Next photo">
            <i class="ti ti-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
