<%= render "shared/workspace_header",
  breadcrumbs: [["Home", dashboard_path], ["Notebook", notebooks_path], [@notebook.title, notebook_path(@notebook)], "Create chapter"],
  eyebrow: "Chapter",
  title: "Create chapter",
  description: "Add a new section inside #{@notebook.title}." %>

<div class="wrapper wrapper-content animated fadeInRight">
  <%= render "form", notebook: @notebook, chapter: @chapter %>
</div>
